<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<title>Blind Chat</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<div id="bootstrapCssTest" class="hidden"></div>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	</head>

	<body>
		<div class="container" style="max-width: 100%;">
			<div class="row">
				<div class="col-md-3" style="border-right: 1px solid #b3b0b0; background-color:#efefef">
					<div>
					   <div id="video_container">
							<div class="embed-responsive embed-responsive-1by1">
								<video poster="/public/img/cam.png" id="selfVideo"> </video>
							</div>
							<div id="button_container" style="text-align:center;">
								<button type="button" class="btn btn-success" id="next_btn" title="Get a Random Stranger"><span class="fas fa-phone"></span></button>
								<button type="button" class="btn btn-danger" id="stop_btn" title="Stop The Chat"><span class="fas fa-ban"></span></button>
								<button type="button" class="btn btn-info" id="clear_btn" title="Clear Chatbox"><span class="fas fa-trash-alt"></span></button>
								<a href="/" type="button" class="btn btn-light" id="clear_btn" title="Home"><span class="fas fa-home"></span></a>
							</div>
							<div class="embed-responsive embed-responsive-1by1">
								<video poster="/public/img/cam.png" id="partnerVideo"> </video>
							</div>
					  </div>
					</div>
				</div>
				<div class="col-md-9" id="messages_container" style="padding:15px; background-color: #FFF; background-image: url('../public/img/5rVml.png');">

				</div>

				<div style="padding: 0px; position: fixed; bottom: 0; width: 100%; border-top: 1px solid #b3b0b0; background-color:#fff;" class="col-md-9 offset-md-3">
					<input id="message" rows="1" name="message" style="border: 0; padding: 10px; width: 90%;" placeholder="Mesaj yazınız..."></input>
					<button id="send_btn" style="width: 9.5%; background: rgb(1, 37, 49); color: #fff; border: none; padding: 10px;">Gönder</button>
				</div>
			</div>
		</div>
	</body>

	<script src="/public/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="/public/socket.io/socket.io.js"></script>
	<script src="/public/easyrtc/easyrtc.js" type="text/javascript"></script>
	<script src="/public/app/random.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script type="text/javascript">
		if ($('#bootstrapCssTest').is(':visible') === true) {
			$('<link href="/public/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />').appendTo('head');
			window.Bootstrap || document.write('<script src="/public/libs/bootstrap/js/bootstrap.min.js"><\/script>')
		}
	</script>
</html>