<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebRTC Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <link rel='stylesheet prefetch' href="/public/libs/font-awesome/css/googleapiLogin.css">
    <link rel='stylesheet prefetch' href="/public/libs/font-awesome/css/bootstrap-social.css">
    <link rel='stylesheet prefetch' href="/public/libs/scss/button.scss">

    <link rel="stylesheet" href="/public/css/LoginStyle.css">
	<!-- Bootstrap cdn testi için gerekli -->
    <div id="bootstrapCssTest" class="hidden"></div>
</head>

<body>
    <div class="login-wrap" style="float:left;">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">OTURUM AÇ</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">ÜYE OL</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form action="/login" method="post">
                        <div class="group">
                            <input name ="username" type="text" class="input" required placeholder="Kullanıcı Adı">
                        </div>
                        <div class="group">
                            <input name="password" type="password" class="input" data-type="password" required placeholder="Parola">
                        </div>
    <!--                    <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> Beni Hatırla</label>
                        </div>-->
                        <div class="group">
                            <input type="submit" class="button" value="OTURUM AÇ">
                        </div>
                        <% if (errors != null && showRegisterForm == null) { %>
                            <% errors.forEach(function(err){ %>
                                <p class="message error"><%= err %></p>
                            <% }); %>
                        <% } if (success != null && showRegisterForm == null) { %>
                            <p class="message success"><%= success %></p>
                        <% } %>
                    </form>
                    <div class="hr" style="margin: 20px;"></div>
    <!--                <div class="foot-lnk">
                            <a href="/auth/google" class="btn btn-block btn-social btn-google">
                                <span class="fab fa-google" style="color: #fff;"></span>
                                Google Hesabınla Giriş Yap
                              </a>
                            <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
                                <span class="fab fa-facebook" style="color: #fff;"></span>
                                Facebook Hesabınla Giriş Yap
                              </a>
                            <a href="/auth/twitter" class="btn btn-block btn-social btn-twitter">
                                    <span class="fab fa-twitter" style="color: #fff;"></span>
                                    Twitter Hesabınla Giriş Yap
                            </a>
                    </div>-->
                </div>
                <div class="sign-up-htm">
                    <form action="/register" method="post">
                        <div class="group">
                            <label for="name" class="label">Adı ve Soyadı</label>
                            <input id="name" name="name" type="text" class="input" required>
                        </div>
                        <div class="group">
                            <label for="username" class="label">Kullanıcı Adı</label>
                            <input id="username" name="username" type="text" class="input" required>
                        </div>
                            <div class="group">
                            <label for="password" class="label">Parola</label>
                            <input id="password" type="password" name="password" class="input" data-type="password" required>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="ÜYE OL">
                        </div>
                         <% if (errors != null && showRegisterForm != null && showRegisterForm === true) { %>
                            <% errors.forEach(function(err){ %>
                            <p class="message error"><%= err %></p>
                            <% }); %>
                        <% } %>
                    </form>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Zaten Üyeyim?</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="RandomChat">
        <a href="/blind-chat"><button class="button" style="vertical-align:middle;"><span>Blind Chat! </span></button></a>
    </div>
</body>

<script>
	var n = 0;
	setInterval(function() {
		myFunction(n);
		$('.RandomChat').css('transition', 'background-image 1.5s ease');
		n++;
		if(n>3) {
			n = 0;
		}
	}, 3000);
	
	function myFunction(n) {
		if(n == 0) {
			$('.RandomChat').css('background-image', 'url("public/img/maxresdefault.jpg")');
		}
		if(n == 1) {
			$('.RandomChat').css('background-image', 'url("public/img/chat1.png")');
		}
		if(n == 2) {
			$('.RandomChat').css('background-image', 'url("public/img/asdf.png")');
		}
		if(n == 3) {
			$('.RandomChat').css('background-image', 'url("public/img/qwert.png")');
		}
	}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
<!-- Üsteki css cdn çöktüyse bootstrap burada ekliyorum.Sayfa max 1 sn geçikme ile responsive olacak. 
        bu da cdn linklerini kontrol etmem gerektiğini anlamam için. Yani css burada kasıtlı olarak ekliyorum.  -->
<script type="text/javascript">
    if ($('#bootstrapCssTest').is(':visible') === true) {
        $('<link href="/public/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />').appendTo('head');
        window.Bootstrap || document.write('<script src="/public/libs/bootstrap/js/bootstrap.min.js"><\/script>')
    }
</script>

</html>
