<!DOCTYPE HTML>
<html>
	<head>
		<title>Webix WebRTC chat</title>
		<!-- webix -->
		<!-- <link rel="stylesheet" href="//cdn.webix.com/edge/webix.css" type="text/css"> -->
		<link rel="stylesheet" href="/public/libs/webix/css/webix.css" type="text/css">
		 <script src="/public/libs/webix/js/webix.js" type="text/javascript"></script>
		<!-- <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>-->
		<!-- easy rtc -->
		<script src="/socket.io/socket.io.js" type="text/javascript"></script>
		<script src="/public/easyrtc/easyrtc.js" type="text/javascript"></script>

		<script src="/public/app/webrtc.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/public/css/wb.css" type="text/css">

	</head>

	<body></body>

	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			var pic = '<%= user.picture  %>';
			if (pic.length < 30) {
				var pic ='/public' + pic ;
			}

			config.app('<%= user.name  %>','<%= user.username  %>',pic , '<%= user.directory %>');
		});

		function reqpicture (value, id) {
			var json = [{"username": value}];
			var xmlhttp;
			xmlhttp = new XMLHttpRequest();
			xmlhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200){
				var list = document.getElementById(id);
				list.getElementsByTagName("img")[0].src = this.responseText +"";

				}
			};
			xmlhttp.open("POST", "/reqpicture");
			xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			xmlhttp.send(JSON.stringify(json));
		};
	</script>
</html>
